.editorconfig
*.pyc
/Foragers/.clinerules
/Foragers/.config
/Foragers/.monogame-docs-md
/Foragers/.specify
/Foragers/.vscode
/Lua/Foragers/.vscode
/Lua/Foragers/Tools/LuaFormatter/__pycache__
/Workspace/
bin/
dotnet-tools.json/
Foragers/.kilo/kilo.jsonc
Lua/Foragers/.luacheckrc
Lua/Foragers/.stylua.toml
Lua/Foragers/CLEANUP_PLAN.md
Lua/Foragers/conf.lua
Lua/Foragers/Foragers.bat
Lua/Foragers/lldebugger.lua
Lua/Foragers/love-run.bat
Lua/Foragers/node_modules
Lua/Foragers/package-lock.json
Lua/Foragers/package.json
obj/
