.*/
.editorconfig
/Workspace/
bin/
dotnet-tools.json/
Lua/Foragers/.luacheckrc
Lua/Foragers/AGENTS.md
Lua/Foragers/CHANGELOG.md
Lua/Foragers/conf.lua
Lua/Foragers/Foragers.bat
Lua/Foragers/lldebugger.lua
Lua/Foragers/love-run.bat
Lua/Foragers/node_modules
Lua/Foragers/package-lock.json
Lua/Foragers/package.json
Lua/Foragers/Tools/Lua Formatter/__pycache__
obj/
