.*/
.editorconfig
/Lua/Foragers/node_modules
/Workspace/
bin/
dotnet-tools.json/
Lua/Foragers/.luacheckrc
Lua/Foragers/AGENTS.md
Lua/Foragers/conf.lua
Lua/Foragers/Foragers.bat
Lua/Foragers/lldebugger.lua
Lua/Foragers/love-run.bat
Lua/Foragers/package-lock.json
Lua/Foragers/package.json
obj/
